<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/user/head') -%>
    <title>Thay đổi mật khẩu</title>
</head>
<body>
    <%- include('../partials/user/header') -%>
    <div class="row bg-light">
        <div class="col-lg-4">
            <div class="bg-white text-center m-3 p-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">Nguyễn Đình Vũ</h5>              
            </div>
        </div>
        <form method="post" action="/user/change-password"class="col-lg-8">
            <div class="mb-4 bg-white">
                <div class="mt-3 pt-4 pl-5 pr-5">
                    <% if (error) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong><%= error %></strong>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                    <% } %>
                    <h4 class="text-center">Thay đổi mật khẩu</h4>
                    <hr> 
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Mật khẩu cũ:</p>
                        </div>
                        <div class="col-sm-9">
                            <input type="password" name="password" class="form-control">
                        </div>
                    </div>
                    <hr> 
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Mật khẩu mới:</p>
                        </div>
                        <div class="col-sm-9">
                            <input type="password" name="newPassword" class="form-control">
                        </div>
                    </div>
                    <hr> 
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Nhập lại mật khẩu:</p>
                        </div>
                        <div class="col-sm-9">
                            <input type="password" name="confirmNewPassword" class="form-control">
                        </div>
                    </div>
                    <hr>                   
                </div>
                <div class="text-center pb-2">
                    <button type="submit" class="btn btn-outline-primary ms-1">Lưu</button>
                </div>
            </div>
        </form>
    </div> 
    <%- include('../partials/user/footer') -%>
    <%- include('../partials/user/js') -%>
</body>
</html>